{{ "section-custom-featured-brands.css" | asset_url | stylesheet_tag }}
{%  style  %} 
    .padding-{{section.id}} {
        padding-top: calc({{ section.settings.padding_top | divided_by: 2 }} );
        padding-bottom: calc({{ section.settings.padding_bottom | divided_by: 2 }});
    }
  
    @media screen and (min-width: 750px) {
        .padding-{{section.id}} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

{% capture  options %}
  {
      "destroy": true,
      "breakpoints": {
        "749" : { 
          "destroy": false,
          "autoplay": {{ section.settings.enable_autoplay }},
          "pagination": {{ section.settings.enable_dots }},
          "arrows": {{ section.settings.enable_arrows }},
          "type": "{{ section.settings.slide_animation }}",
          "rewind": {{ section.settings.rewind_slides }},
          "gap": 10,
          "perPage": 3, 
          "perMove": 1 }
      }
  }
{% endcapture %}

<div class="featured-brands padding-{{section.id}} ">
  <div class="featured-brands__section">
    <div class="page-vidth">
      <div class="featured-brands__grid">
        <custom-splide-carousel data-options='{{ options }}'>
          <div class="splide" aria-label="Featured brands slideshow">
            <div class="splide__track">
              <ul class="splide__list featured-brands__list">
                {% for block in section.blocks %}
                  {% if block.settings.image != blank %}
                    <li class="splide__slide">
                      <div class="featured-brands__image-container">
                        {% render 'responsive-picture', desktopImage: block.settings.image, mobileImage: block.settings.image %}
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div> 
        </custom-splide-carousel> 
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Featured Brands",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Slideshow options"
      },
      {
            "type": "checkbox",
            "id": "enable_autoplay",
            "label": "Enable autoplay",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_dots",
            "label": "Enable dots",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "rewind_slides",
            "label": "Enable rewind",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_arrows",
            "label": "Enable arrows",
            "default": true
        },
        {
            "type": "select",
            "id": "slide_animation",
            "label": "Slider animation",
            "options": [
                {
                    "value": "fade",
                    "label": "Fade"
                },
                {
                    "value": "loop",
                    "label": "Loop"
                },
                {
                    "value": "slide",
                    "label": "Slide"
                }
            ],
            "default": "loop"
        },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 20
      }  
    ],
    "blocks": [
      {
        "type":"featured-brands",
        "name": "featured brands",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          } 
        ]
      }
      
    ],
    "presets":[
      {
        "name": "Featured Brands"
      }
    ]
  }
{% endschema %}