{{ 'custom-tab-switching.css' | asset_url |  stylesheet_tag }}
<script src="{{ 'custom-tab-switching.js' |  asset_url }}" defer></script>

{%  style  %} 
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
        padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}



<div class="section-{{ section.id }}-padding">
    <div class="page-width">
        <div class="custom-tab-switching">
            {% if section.settings.section_title %}
                <h2 class="custom-tab-switching__section-title">{{ section.settings.section_title }}</h2>
            {% endif %}
            {% if section.blocks.size != 0 %}
                <ul class="custom-tab-switching__tabs">
                    {% for block in section.blocks %}
                        {% if block.settings.tab_items.products.size != 0 %}
                            <li class="custom-tab-switching__tab-item" data-tab-id="{{ block.id }}">{{ block.settings.collection_title }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="custom-tab-switching__collection grid">
                    {% for block in section.blocks %}
                        {% if block.settings.tab_items.products.size != 0 %}
                            {% for product in block.settings.tab_items.products %}
                                <div class="grid__item product-container" data-collection-id="{{ block.id }}">
                                    {% render 'eachproduct-card', product: product, section_id: section.id %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>




{% schema %}
{
  "name": "Custom tab switching",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "label": "Section title",
      "id": "section_title",
      "default": "<p>Section title</p>",
      "info": "This is section title"
    },
    {
      "type": "header",
      "content": "Padding details"
    },
    {
      "type": "range",
      "label": "Padding top",
      "id": "padding_top",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Padding bottom",
      "id": "padding_bottom",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "tab_item",
      "name": "Tab item",
      "settings": [
        {
          "type": "text",
          "label": "Collection title",
          "id": "collection_title"
        },
        {
          "type": "collection",
          "label": "Collection",
          "id": "tab_items",
          "info": "The products in this collection displays"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom tab switching"
    }
  ]
}
{% endschema %}