{{ 'section-images-with-grid.css' | asset_url | stylesheet_tag }}

{% style %}
.padding-{{ section.id }}{
    padding-top:{{section.settings.padding_top | divided_by:2}}px;
    padding-top:{{section.settings.padding_top | divided_by:2}}px;   
}
@media screen and (min-width:749px){
  .padding-{{ section.id }}{
      padding-top:{{section.settings.padding_top}}px;
      padding-top:{{section.settings.padding_top}}px;   
  }
}
{% endstyle %}

<div class="padding-{{ section.id }}">
    <div class="page-width">
        <div class="grid-container grid grid--1-col grid--2-col-desktop">
        {% for block in section.blocks %}
            <div class="grid__item grid-container__collection {{ section.settings.selected_mode }}">
                {% if block.settings.desktop_image != blank or block.settings.mobile_image !=blank %}
                    {% render 'responsive-picture',
                        desktopImage: block.settings.desktop_image,
                        mobileImage: block.settings.mobile_image
                    %}
                    {% else %}
                    {{ 'collection-1' | placeholder_svg_tag }}
                {% endif %}
                <div class="grid-container__collection__content {{ block.settings.content_alignment }}">
                    <div class="grid-conatiner__inner-container {{block.settings.text_alignment}}">
                      {%  if block.settings.collection_category != blank %}
                        <ul class="grid-container__under-order-list">
                          <li>{{ block.settings.collection_category }}</li>
                        </ul>
                      {% endif %}
                      {% if block.settings.heading_content != blank  %}
                        <h2 class="grid-container__heading">{{ block.settings.heading_content }}</h2>
                      {% endif %}
                      {% if  block.settings.button_content != blank %}
                        <a 
                          {% if block.settings.button_link == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.button_link }}"
                          {% endif %}
                          class="custom-button-primary"
                        >
                          <span>{{ block.settings.button_content }}</span>
                        </a>
                      {% endif %}
                      </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
</div>
{% schema %}
    {
        "name":"Grid images section",
        "tag":"section",
        "settings":[
          {
            "type":"header",
            "content":"Select Mode"
          },
          {
            "type": "select",
            "id": "selected_mode",
            "label": "Selecte Mode",
            "options": [
              {
                "value": "image_landscape",
                "label": "Landscape"
              },
              {
                "value": "image_square",
                "label": "Square"
              },
              {
                "value": "image_portrait",
                "label": "Portrait"
              }
            ],
            "default": "image_landscape"
          },

            {
                "type":"header",
                "content":"Section Padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Padding top",
                "default": 16
              },
              {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Padding bottom",
                "default": 16
              }
        ],
        "blocks":[
            {
                "name":"Grid Image",
                "type":"grid-image-with-text",
                "settings":[
                      {
                        "type": "image_picker",
                        "id": "desktop_image",
                        "label": "Image(Desktop)"
                      },
                      {
                        "type": "image_picker",
                        "id": "mobile_image",
                        "label": "Image(Mobile)"
                      },
                      {
                        "type": "select",
                        "id": "text_alignment",
                        "label": "Text position",
                        "options": [
                          {
                            "value": "left",
                            "label": "Left"
                          },
                          {
                            "value": "center",
                            "label": "Center"
                          },
                          {
                            "value": "right",
                            "label": "Right"
                          }
                        ],
                        "default": "center"
                      },
                      {
                        "type": "select",
                        "id": "content_alignment",
                        "label": "Content position",
                        "options": [
                          {
                            "value": "align-start",
                            "label": "Top"
                          },
                          {
                            "value": "align-center",
                            "label": "Center"
                          },
                          {
                            "value": "align-end",
                            "label": "Bottom"
                          }
                        ],
                        "default": "align-center"
                      },
                      {
                        "type": "text",
                        "id": "collection_category",
                        "label": "Preheading text",
                        "default": "Women's"
                      },
                      {
                        "type": "text",
                        "id": "heading_content",
                        "label": "Heading text",
                        "default": "Women's Clothing Collection"
                      },
                      {
                        "type": "text",
                        "id": "button_content",
                        "label": "Button text",
                        "default": "Explore"
                      },{
                        "type": "url",
                        "id": "button_link",
                        "label": "Button link"
                      }
                ]
            }
        ],
        "presets":[
            {
                "name":"Grid images section"
            }

        ]
    }



{% endschema %}